.nutrition{

  background-image: url("https://cdn.pixabay.com/photo/2015/08/01/10/41/savoy-870124_1280.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
