.brain{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/21/15/21/brain-1845941_1280.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
